:root {
  // text colors
  --t-000: #000;
  --t-fff: #fff;

  // background colors
  --b-fff: #fff;
  --b-000: #000;
  // --b-grad-red: ;
}

// @media (prefers-color-scheme: dark) {
//  :root {
//  }
// }
